
/* Import google font families - Lato and Montserrat */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Noto+Sans&family=Noto+Sans+JP:wght@300;400;500&family=Open+Sans:wght@300;400;600&family=Roboto:wght@300;400;500&display=swap');

/* 
colors: #3f6cb2 #bd2640 #efefef #000000 #838383
*/

/* reset */
*, *:before, *:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans", Roboto, Montserrat, Lato, "Open Sans";
    font-size: 16px;
    padding-bottom: 150px;
}

/* footer for all pages  */

footer ul.copyright p, footer li a.email {
    font-size: 0.75rem;
    letter-spacing: 0.9px;
}

footer ul.social li {
    list-style: none;
}


/* Start of shared styling  */

/* This sytles all section-1 of all pages */
section.section-1  {
    margin-bottom: 7%;
}

/* This styles all section-1 h1 of all pages */
section.section-1 h1 {
    font-size: 3rem;
    /* font-family: "Noto Sans" */
}

/* This styles all link buttons of all pages */
section.section-1 a.btn, section.section-2 a.btn {
    font-size: 1.1rem;
    border: 1px solid #bd2640;
    font-weight: 500;
}

/* This styles all titles of all pages */
section div.title {
    padding: 20%  5% 15% 0;
}

/* This styles all section-2 of all pages */
/* section.section-2 {
    margin: 15% 0;
} */

/* End of shared styling */


/* index.html Introduction Section-1*/
section.introduction h1 span.bing {
    font-size: 3.5rem; 
    /* font-family: "Open Sans"; */
    color: #3f6cb2;
}

section.introduction img {
    margin: 20% 0 15%; 
    /* padding: 20% 0 15% 15%;  */
}

/* index.html- About Me Section-2*/
section.about {
    margin: 8% 0;
}
section.about img {
    padding-bottom: 10%;
}

section.about p {
    line-height: 155%;
    font-family: "Roboto";
}
section.about p span.h {
    font-size: 1.5rem;
    color: #bd2640;
}

section.about p span.i {
    font-size: 1.5rem;
    color: #3f6cb2;
}


/* portfolio.html main section */

/* section.tech-skills h1 {
    font-size: 3rem;
} */
/* section.tech-skills img { 
    padding-top:30%;

} */

/* portfolio.html project section */

section.projects div.card-img-top {
    width: 100%;
    height: 24rem;
    /* object-fit: cover; */
}

section.projects .card p {
    color: #838383;
}

/* Contact.html styling */

/* section.contact div.title {
    padding-top: 15%;
    margin-bottom: 28%;
} */

 /* section.contact div.title h1, ection.contact div.title h3, section.contact div.title a {
    margin-left: 8%;
 } */

/* section.contact div.title h1 {
    font-size: 3rem;
} */

section.contact #info {
    background-color: #efefef;
    padding: 2% 0;
    margin: 15% 0;
}

section.contact #info a.info-link{
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0.075rem;
}

section.contact #info div.social li {
    list-style: none;
}
