/* Import google font families - Lato and Montserrat */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Noto+Sans&family=Noto+Sans+JP:wght@300;400;500&family=Open+Sans:wght@300;400;600&family=Roboto:wght@300;400;500&display=swap');

/* 
colors: #3f6cb2 #bd2640 #efefef #000000 #838383

#e74c3a; #ff7b06; #571994
*/

/* reset */
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
	font-family: "Open Sans", "Noto Sans", Roboto, Montserrat, Lato;
	font-size: 17px;
	padding-bottom: 150px;
}

/* footer for all pages  */

footer ul.copyright p,
footer li a.email {
	font-size: 0.75rem;
	letter-spacing: 0.9px;
}

footer ul.social li {
	list-style: none;
}

/* Start of shared styling  */

/* This styles navbar of all pages */
header nav.navbar {
	padding: 2% 8% 1% 3%;
}

/* This sytles all section-1 of all pages */
section.section-1 {
	height: 100vh;
}

/* This styles all section-1 h1 of all pages */

section.section-1 h1 {
	font-size: 3rem;
}

/* This styles all link buttons of all pages */
section.section-1 a.btn,
section.section-2 a.btn {
	font-size: 1.1rem;
	border: 1px solid #bd2640;
	font-weight: 500;
}

/* This styles all titles of all pages */
section div.title {
	padding: 15% 5% 15% 0;
}

/* End of shared styling */

/* index.html Introduction Section-1*/

section.introduction h1 span.bing {
	font-size: 3.5rem;
	color: #3f6cb2;
}

section.introduction img {
	margin: 15% 0 15%;
	min-width: 100%;
}

/* index.html- About Me Section-2*/
section.about {
	height: 100vh;
	margin: 5% 2%;
}

section.about #about {
	width: 100%;
	height: 10vh;
	margin-top: 3% 0;
}

section.about img {
	padding-bottom: 10%;
}

section.about p {
	line-height: 155%;
	font-family: "Roboto";
	padding-right: 10%;
}
section.about p span.h {
	font-size: 1.5rem;
	color: #bd2640;
}

section.about p span.i {
	font-size: 1.5rem;
	color: #3f6cb2;
}

/* portfolio.html project section */

section.projects {
	margin: 40% 0 0;
}

section.projects .card {
	background-color: rgb(0, 0, 0, 0.8);
	border: 3px solid rgb(187, 186, 186);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

section.projects div.card-img-top {
	width: 100%;
	height: 24rem;
}

section.projects div.card-img-top .video {
	display: inline-block;
	width: 50%;
	margin-left: 7vw;
	margin-bottom: 3vh;
}

section.projects .card-title {
	color: #ff7b06;
}

/* section.projects .card h5 {
	color: #0978f6;
} */

section.projects .card p {
	color: #e9e9e9;
}

section.projects .tech strong {
	color: #2386f7;
}

/* Contact.html styling */

section.contact-info {
	height: 100vh;
	position: relative;
}

section #info {
	position: absolute;
	top: 10%;
	background-color: #efefef;
	padding: 2% 0;
	margin: 15% 0 12%;
}

section #info a.info-link {
	font-weight: 500;
	font-size: 0.9rem;
	letter-spacing: 0.07rem;
}

section #info div.social li {
	list-style: none;
}

/* Back-to-top Button */
#myBtn {
	display: none;
	position: fixed;
	bottom: 100px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	font-weight: bold;
	border: none;
	outline: none;
	background-color: rgb(192, 192, 192, 0.9);
	color: #ff7b06;
	cursor: pointer;
	padding: 10px;
	border-radius: 50%;
}

#myBtn:hover {
	background-color: rgb(85, 85, 85, 0.7);
	color: white;
}
/* Media query */

@media only screen and (max-width: 1024px) {
	section div.title {
		padding: 20% 5% 15% 0;
	}

	section.introduction .profile-img {
		margin: 25% 0 0;
	}

	section.projects div.card-img-top .video {
		display: inline-block;
		width: 60%;
		margin-left: 7vw;
	}
}

@media only screen and (max-width: 800px) {
	section.introduction .profile-img {
		margin-top: 55%;
	}

	section.introduction div.title {
		padding-top: 20%;
	}

	section.about .deco-img {
		display: none;
	}

	section.projects div.card-img-top .video {
		display: inline-block;
		width: 80%;
		margin-left: 3vw;
	}
}

@media only screen and (max-width: 600px) {
	section.introduction div.title {
		padding: 35% 5% 15% 0;
	}

	section.about .deco-img {
		display: none;
	}

	section.introduction .profile-img {
		margin: 0;
	}

	section.tech-skills div.title {
		margin-top: 8%;
		padding-right: 10%;
	}

	section.projects div.card-img-top .video {
		display: inline-block;
		width: 60%;
		margin-left: 13vw;
	}

	section.contact div.title {
		margin-top: 20%;
		padding-right: 10%;
	}

	#footer div.contact {
		display: none;
	}
}

@media only screen and (max-width: 425px) {
	section.projects div.card-img-top .video {
		display: inline-block;
		width: 68%;
		margin-left: 8.5vw;
	}
}
