
/* Import google font families - Lato and Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* 
colors: #3f6cb2 #bd2640 #efefef #000000 #838383
*/

/* reset */
*, *:before, *:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, Lato, sans-serif;
    font-size: 16px;
    padding-bottom: 150px;
}


/* Introduction Section-1*/

/* This sytles all section-1 of all pages */
section.section-1  {
    margin-bottom: 10%;
}

/* This styles all section-1 h1 of all pages */
section.section-1 h1 {
    font-size: 3rem;
}

/* This styles all link buttons of all pages */
section.section-1 a.btn, section.section-2 a.btn {
    font-size: 1.1rem;
    border: 1px solid #bd2640;
    font-weight: 500;
}
section div.title {
    padding: 20%  5% 15% 0;
}

section.introduction h1 span.bing {
    font-size: 3.5rem; 
    font-family: "Lato";
    color: #3f6cb2;
}

section.introduction img {
    padding: 20% 0 15% 15%; 
}

/* index.html- About Me Section */
section.about {
    margin-bottom: 8%;
}
section.about img {
    padding-bottom: 10%;
}

section.about p {
    line-height: 150%;
}
section.about p span.h {
    font-size: 1.5rem;
    color: #bd2640;
}

section.about p span.i {
    font-size: 1.5rem;
    color: #3f6cb2;
}

/* footer  */
footer p.copyright, footer li a.email {
    font-size: 0.75rem;
    letter-spacing: 0.9px;
}

/* portfolio.html main section */

/* section.tech-skills h1 {
    font-size: 3rem;
} */
/* section.tech-skills img { 
    padding-top:30%;

} */

/* portfolio.html project section */

section.projects div.card-img-top {
    width: 100%;
    height: 24rem;
    /* object-fit: cover; */
}

section.projects .card p {
    color: #838383;
}

/* Contact.html styling */
section.contact div.title {
    padding-top: 15%;
    margin-bottom: 28%;
}

section.contact div.title h1, section.contact div.title h3, section.contact div.title a {
    margin-left: 18%;
}

/* section.contact div.title h1 {
    font-size: 3rem;
} */



section.contact div.info {
    background-color: #efefef;
    padding: 2% 0;
}

section.contact div.info div.social li {
    list-style: none;
}
